<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4e47a11-3882-4508-9b3b-198dbd4e86e6" Alias="API Page" Level="3">
  <Info>
    <Parent Key="e6055dfe-b0fa-4719-a9c3-0875615bc557">News</Parent>
    <Path>/Homepage/News/APIPage</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-03-03T16:11:09</CreateDate>
    <NodeName Default="API Page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c5c5c2d-8fb4-45b4-877b-1e185d76f5d5">NewsItem</Template>
  </Info>
  <Properties>
    <newsItemContent>
      <Value><![CDATA[<p>A new API page has been added to the front-end that displays my experience with various programming languages.</p>
<p>3 routes have been added that deal with retrieving,posting and deleting the languages in the back-end.</p>]]></Value>
    </newsItemContent>
    <newsItemTitle>
      <Value><![CDATA[API Page]]></Value>
    </newsItemTitle>
  </Properties>
</Content>