<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2aa68f3-b0e2-442d-b6c8-7b9ff6c5bc45" Alias="API" Level="2">
  <Info>
    <Parent Key="7f2707c8-e41b-49de-8bad-fafd7286ce3e">Homepage</Parent>
    <Path>/Homepage/API</Path>
    <Trashed>false</Trashed>
    <ContentType>apiPage</ContentType>
    <CreateDate>2021-03-02T20:42:07</CreateDate>
    <NodeName Default="API" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d3ac3f1b-43c8-48ea-aa79-69c1b2ca1181">APIPage</Template>
  </Info>
  <Properties>
    <apiPageTitle>
      <Value><![CDATA[API example]]></Value>
    </apiPageTitle>
  </Properties>
</Content>