<?xml version="1.0" encoding="utf-8"?>
<Content Key="32466191-ee63-404f-9c70-ea43d61bc676" Alias="Back-end news" Level="3">
  <Info>
    <Parent Key="e6055dfe-b0fa-4719-a9c3-0875615bc557">News</Parent>
    <Path>/Homepage/News/BackEndNews</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-03-03T16:25:59</CreateDate>
    <NodeName Default="Back-end news" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c5c5c2d-8fb4-45b4-877b-1e185d76f5d5">NewsItem</Template>
  </Info>
  <Properties>
    <newsItemContent>
      <Value><![CDATA[<p>The back-end now uses the uSync tool which can be found in Settings.<br /><br />With this tool, all document types and content can be imported/exported for a smooth transition between deployments.<br /><br />Furthermore users are now presented with a Custom Dashboard in the backoffice which explains more about this project.</p>]]></Value>
    </newsItemContent>
    <newsItemTitle>
      <Value><![CDATA[New features in the backoffice]]></Value>
    </newsItemTitle>
  </Properties>
</Content>