<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c94cad6-9ee4-4c94-a851-b0a7ab405735" Alias="Contact" Level="2">
  <Info>
    <Parent Key="7f2707c8-e41b-49de-8bad-fafd7286ce3e">Homepage</Parent>
    <Path>/Homepage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleContentPage</ContentType>
    <CreateDate>2021-03-01T14:52:07</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b31798dd-9b1d-498f-bbf7-74480cfb7b93">SimpleContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Email: <a href="mailto:roywildeboerschut@gmail.com">roywildeboerschut@gmail.com</a><br />Mobile: 0627480182</p>]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[Contact page]]></Value>
    </pageTitle>
  </Properties>
</Content>