<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f2707c8-e41b-49de-8bad-fafd7286ce3e" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2021-03-01T13:32:13</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b48edfa-7fe2-4992-b2cb-019e6a0f3880">HomePage</Template>
  </Info>
  <Properties>
    <apiPageLink>
      <Value><![CDATA[/api]]></Value>
    </apiPageLink>
    <apiPageName>
      <Value><![CDATA[Api]]></Value>
    </apiPageName>
    <bodyText>
      <Value><![CDATA[<p>Created to learn and experiment with Umbraco</p>]]></Value>
    </bodyText>
    <contactPageLink>
      <Value><![CDATA[/contact]]></Value>
    </contactPageLink>
    <contactPageName>
      <Value><![CDATA[Contact Page]]></Value>
    </contactPageName>
    <firstArticleImage>
      <Value><![CDATA[umb://media/36589d596ed64a2995669b1d9cc1fd5f]]></Value>
    </firstArticleImage>
    <firstArticleParagraph>
      <Value><![CDATA[<p>You can find updates about this project in the news page below</p>]]></Value>
    </firstArticleParagraph>
    <firstArticleTitle>
      <Value><![CDATA[News]]></Value>
    </firstArticleTitle>
    <footerText>
      <Value><![CDATA[Copyright Roy Wildeboer Schut 2021]]></Value>
    </footerText>
    <homePageLink>
      <Value><![CDATA[/]]></Value>
    </homePageLink>
    <homePageName>
      <Value><![CDATA[Home]]></Value>
    </homePageName>
    <newsPageLink>
      <Value><![CDATA[/news]]></Value>
    </newsPageLink>
    <newsPageName>
      <Value><![CDATA[News]]></Value>
    </newsPageName>
    <pageTitle>
      <Value><![CDATA[Umbraco website]]></Value>
    </pageTitle>
    <secondArticleImage>
      <Value><![CDATA[umb://media/2ac3ffd351dd4119a450a72dd397d7b1]]></Value>
    </secondArticleImage>
    <secondArticleParagraph>
      <Value><![CDATA[<p>This page describes my experience with programming, which is retrieved from an API in Umbraco</p>]]></Value>
    </secondArticleParagraph>
    <secondArticleTitle>
      <Value><![CDATA[API example]]></Value>
    </secondArticleTitle>
    <sectionThreeBodyText>
      <Value><![CDATA[<p>To experiment further with API's in .NET I've created a separate project which can be found at the following link</p>]]></Value>
    </sectionThreeBodyText>
    <sectionThreeLinkText>
      <Value><![CDATA[.NET Core REST API]]></Value>
    </sectionThreeLinkText>
    <sectionThreeTitle>
      <Value><![CDATA[Advanced API]]></Value>
    </sectionThreeTitle>
    <sectionTwoBodyText>
      <Value><![CDATA[<p>Images below are placed with the multi-mediapicker</p>]]></Value>
    </sectionTwoBodyText>
    <sectionTwoImages>
      <Value><![CDATA[umb://media/13e24a98ee384ac6aa486e7f097ef357,umb://media/3f95b51ad167462c8bb84d5951b15e2f,umb://media/bfead611b8f543e3960ead1f96d5f361,umb://media/e13b65c608804754b14511ed8591d41c,umb://media/31a27cdebb024713a55c2dba987d1ddb,umb://media/c1bfe3083899437d847fafff0be40670,umb://media/3a3a799ceb7947fdb9beed6ba707d491,umb://media/c850f21db8cd43faae36a940ab2aa650]]></Value>
    </sectionTwoImages>
    <sectionTwoTitle>
      <Value><![CDATA[Umbraco Media]]></Value>
    </sectionTwoTitle>
  </Properties>
</Content>