<?xml version="1.0" encoding="utf-8"?>
<Content Key="e898ac37-519e-4b1d-806d-a5586c5d8d64" Alias="Upcoming features" Level="3">
  <Info>
    <Parent Key="e6055dfe-b0fa-4719-a9c3-0875615bc557">News</Parent>
    <Path>/Homepage/News/UpcomingFeatures</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2021-03-01T19:34:37</CreateDate>
    <NodeName Default="Upcoming features" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c5c5c2d-8fb4-45b4-877b-1e185d76f5d5">NewsItem</Template>
  </Info>
  <Properties>
    <newsItemContent>
      <Value><![CDATA[<p>- API that will GET/POST and DELETE programminglanguages</p>
<p>- Front-end API Page that will display programminglanguages</p>
<p>- Swashbuckle swagger UI to accompany API in the frontend </p>
<p>- TBA</p>]]></Value>
    </newsItemContent>
    <newsItemTitle>
      <Value><![CDATA[Upcoming features ]]></Value>
    </newsItemTitle>
  </Properties>
</Content>