@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ApiPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterAlternateNavbar.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
			<h2>@Model.Value("apiPageTitle")</h2>
		    <p></p>
        </header>
        
        <h4>List filled with API GET request</h4>
        <h5>Check ROUTE &#64; <a href="/swagger/ui/index#!/ProgrammingLanguage/ProgrammingLanguage_GetProgrammingLanguages">/swagger</a></h5>
        <div class="table-wrapper">
        	<table class="alt">
        		<thead>
        			<tr>
        				<th>Name</th>
        				<th>Experience</th>
        				<th></th>
        			</tr>
        		</thead>
        		<tbody id="apitable">
        		</tbody>
        	</table>
        </div
        
        <!-- Form -->
		<section>
		    <h4>Add table entry</h4>
            <h5>Check ROUTE &#64; <a href="/swagger/ui/index#!/ProgrammingLanguage/ProgrammingLanguage_PostProgrammingLanguage">/swagger</a></h5>
			<form method="post" action="javascript:;" onsubmit="postTableEntry(name,experience)">
				<div class="row uniform 50%">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="name" id="name" value="" placeholder="Name" required/>
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="text" name="experience" id="experience" value="" placeholder="Experience" required/>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input type="submit" value="Add" class="special" /></li>
						</ul>
					</div>
				</div>
			</form>
		</section>
    </div>
</section>