@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ApiPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterAlternateNavbar.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
			<h2>@Model.Value("apiPageTitle")</h2>
		    <p></p>
        </header>
        
        <h4>List filled with API &#64; <a href="/api/programminglanguages"> /api/programminglanguages </a></h4>
        <div class="table-wrapper">
        	<table class="alt">
        		<thead>
        			<tr>
        				<th>Name</th>
        				<th>Experience</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td>Item 1</td>
        				<td>Ante turpis integer aliquet porttitor.</td>
        			</tr>
        			<tr>
        				<td>Item 2</td>
        				<td>Vis ac commodo adipiscing arcu aliquet.</td>
        			</tr>
        		</tbody>
        	</table>
        </div
    
    <!-- Buttons -->
        <h3>Buttons</h3>
        <ul class="actions">
        	<li><a href="#" class="button special">Special</a></li>
        	<li><a href="#" class="button">Default</a></li>
        	<li><a href="#" class="button alt">Alternate</a></li>
        </ul>
        <ul class="actions">
        	<li><a href="#" class="button special big">Big</a></li>
        	<li><a href="#" class="button">Default</a></li>
        	<li><a href="#" class="button alt small">Small</a></li>
        </ul>
        <div class="row">
        	<div class="6u 12u$(xsmall)">
        		<ul class="actions fit">
        			<li><a href="#" class="button fit">Fit</a></li>
        			<li><a href="#" class="button alt fit">Fit</a></li>
        		</ul>
        	</div>
        	<div class="6u$ 12u$(xsmall)">
        		<ul class="actions fit small">
        			<li><a href="#" class="button fit small">Fit + Small</a></li>
        			<li><a href="#" class="button alt fit small">Fit + Small</a></li>
        		</ul>
        	</div>
        </div>
        <ul class="actions">
        	<li><a href="#" class="button special icon fa-download">Icon</a></li>
        	<li><a href="#" class="button icon fa-download">Icon</a></li>
        	<li><a href="#" class="button alt icon fa-download">Icon</a></li>
        </ul>
        <ul class="actions">
        	<li><span class="button special disabled">Special</span></li>
        	<li><span class="button disabled">Default</span></li>
        	<li><span class="button alt disabled">Alternate</span></li>
        </ul>
    </div>
</section>