@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ElasticSearchPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterAlternateNavbar.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
			<h2>@Model.Value("elasticPageTitle")</h2>
		    <p>@Model.Value("elasticPageContent")</p>
        </header>

    </div>
</section>